@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
   
    --text-font:"Montserrat", sans-serif;
    --black:#000;
    --white:#ffffff;
    --white-100:#9c9c9c;
    --white-400:rgba(255, 255, 255, 0.4);
    --white-600:rgba(255, 255, 255, 0.6);
    --hover-col:#B8F1A0;
    --green-btn-bg:#B8F1A0;
    --green-btn-hover:#82bb6a;
    --dark-blue: #011c2a;

    --primary: #2b2962; 
    --secondary: #FF6922;
    --text-col:#666565;
    --light: #c5c5c5;
   
    --blue:#3d8cc0;
    
    
    --radious-5:5px;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: var(--text-font);
    font-weight: 400;
    font-size: 16px;
    position: relative;
    color:var(--black) ;
    background-color: var(--white);
}
::selection {
    color:#fff ;
    background: var(--black); ;
}
::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #1b1b1b;
}
ul,ol{
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,h2,h3,h4,h5{
    font-weight: 600;
}
.card{
    box-shadow: 3px 5px 35px rgba(86, 68, 169, 0.1);
}
p{
    margin-bottom: 0;
}
.card{
    border: 0;
}
.btn-primary{
    background-color: #03787a;
    border-color: #03787a;
}
.btn-primary:hover{
    background-color: #1a7b7d;
    border-color: #1a7b7d;
}
.btn-outline-primary{
    border-color: #03787a;
    color: #03787a;
}
.btn-outline-primary:hover{
    border-color: #03787a;
    background-color: #03787a;
    color: #fff;
}
section{
    padding: 3rem 0;
}
.section-title-container{
   display: flex;
   justify-content: space-between;
   align-items: center;
    margin-bottom: 2rem;

}
.section-title-small{
    color: var(--blue);
    margin-bottom: 0;
    font-size: 1.2rem;
}
.section-title{
    font-weight: 700;
    font-size: 2.5rem ;
}
.section-title-large{
    font-size: 3.2rem;
}
@media(max-width:1024px){
    .section-title-container{
       
        margin-bottom: 1rem;
        
    }
    .section-title-container a{
        margin-left: auto;
    }
    .section-title{
      
        font-size: 1.5rem ;
    }
    .section-title-small{
       
        font-size: 1.1rem;
    }
}
@media(max-width:768px){
    .section-title-container{
        margin-bottom: 1rem;
       
        
    }
    .section-title-container a{
        margin-left: auto;
        margin-bottom: .5rem;
    }
    .section-title{
      
        font-size: 1.3rem ;
    }
    .section-title-small{
       
        font-size: 1rem;
    }
}
@media(max-width:680px){
    .section-title-container{
        margin-bottom: 0;
       
        flex-direction: column;
        align-items: flex-start;
    }
}

/* header css start */
.navbar-brand img{
    height: 60px;
}
.bg-header .navbar-brand img{
    height: 50px;
}
.navbar-nav{
    gap: 1rem;
}
.bg-header .navbar-nav{
    gap: 1.5rem;
}
.navbar-toggler{
border: none;
}
.navbar-toggler-icon{
    background-image: none;
    border: none;
    outline: none;
}
.navbar-toggler-icon i{
    color: #fff;
    font-size: 2.2rem;
}
.navbar-nav .nav-link{
    color: #fff;
    padding-inline: 1.5rem;
    transition: all .25s;
    padding: 1.5rem 0;
    position: relative;
    font-weight: 500;
}
.offcanvas-header{
    border-bottom: 1px solid #000;
}
.offcanvas.show .nav-link{
    color: #000;
    padding: .5rem 0;
}
.bg-header .offcanvas.show .nav-link {
    padding: .5rem 0;
}
.offcanvas.show .navbar-nav{
    gap: .5rem;
}
.navbar-nav{
    gap: 1rem;
}
.bg-header .navbar-nav .nav-link{
    padding: 1rem 0;
    color: #000;
}
.bg-header .navbar-nav .nav-link:hover{
    color: #f8bd04;
}
.navbar-nav .nav-link:hover{
   color: #fff;
   opacity: 1;
}
 .navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color: #f8bd04;
    opacity: 1;
    
 }

.bg-header nav{
    /* background-color: #03787a; */
    background-color: #fff;
    transition: background-color 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.navbar-nav .dropdown-menu {
    position: fixed !important;
    left: 0;
    top: 60px; /* Adjust based on your navbar height */
    width: 100vw;
    background-color: white;
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none; /* Hide by default */
}

.navbar-nav .dropdown:hover .dropdown-menu {
    display: block; /* Show when hovered */
}
.nav-links li:hover .mega-box{
    transition: all 0.3s ease;
    top: 70px;
    opacity: 1;
    visibility: visible;
  }
  .submenu:hover .mega-box {
    transition: all 0.3s ease;
    top: 70px;
    opacity: 1;
    visibility: visible;
    padding: 1rem 1rem
  }
.mega-box{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 30px;
    top: 90px;
    opacity: 0;
    visibility: hidden;
  
  }
  .bg-header .submenu:hover .mega-box{
    top: 60px;
  }
  .mega-box .content{
    background: #ffffff;
    border-bottom: 2px solid #03787a;
    border-radius: 0 0 .5rem .5rem;
    overflow: hidden;
    
    
  }
  .mega-box .nav-link{
    
    padding: 1rem;
    background-color: rgb(58 158 160);
    border-radius: 0;
    transition: all .25s;
    color: #000;
  }
  
  .mega-box .nav{
    flex: 0 0 150px;
  }
  .mega-box .nav-link.nav-link.active{
    position: relative;
    background-color: rgb(11 171 174);
    color: #fff;
  }
  .mega-box .nav-link.nav-link.active:before{
    content: "";
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 10px solid rgb(255, 255, 255);
    border-bottom: 7px solid transparent;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .mega-box .nav-link:hover {
    background-color: rgb(11 171 174);
    color: #fff;
 
   
  }
.submenu-container{
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 300px));
    gap: .75rem;
    padding: 25px 20px;
}
.submenu-container a{
    text-decoration: none;
    color: #000;
}
.submenu-container a:hover{
    color: #f8bd04;
}
.mob-menu .accordion-button, .mob-menu .accordion-body{
    padding: .5rem 0;
}
.accordion-button:focus{
    box-shadow: none;
}
.accordion-button:not(.collapsed) {
    color: #f8bd04;
    background-color: transparent;
    box-shadow: none;
}
.child-accordion .mob-sub-menu{
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
}
.child-accordion .mob-sub-menu li{
    margin-bottom: .5rem;
}
.child-accordion .mob-sub-menu a{
    text-decoration: none;
    color: #000;

}
.child-accordion .mob-sub-menu a:hover{
    color: #f8bd04;
}
.child-accordion .accordion-button:not(.collapsed)::after {
    background-image: none;
    content: " \F2EA";
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: 400 !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
}
.child-accordion .accordion-button::after{
    background-image: none;
    content: "\F4FE";
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: 400 !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
}
.offcanvas-top{
    min-height: 210px;
}

.nav-link.mob-menu{
    color: #fff;
}
.bg-header .nav-link.mob-menu{
    color: #000;
}
.bg-header .navbar-toggler-icon i{
    color: #000;
}
@media (max-width: 1024px) {
    .desktop-menu {
        display: none; /* Hide on smaller screens */
    }

}

@media (min-width: 1025px) {
    .desktop-menu {
        display: block; /* Show on larger screens */
    }
    .mob-menu{
        display: none;
    }
}






.back-to-top{
    height: 45px;
    width: 45px;
    background-color: #115DE1;
    color: #eaeaea;
    position: fixed;
    bottom: 7rem;
    right: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 999;
    text-decoration: none;
  }
  .back-to-top i{
    font-size: 1rem;
    color: #eaeaea;
  }
/* footer css start */
.top-footer{
    padding: 2rem 0;
    background-image: url(../img/web-img/footer-bg.png);
    background-position: bottom;
    background-size: 100% 100%;
    background-color: #04162C;
    color: #fff;

}
.top-footer .about-company{
    color: #fff;
    font-size: .85rem;
}
.contact-wrapper{
    padding: 0;
    margin: 0;
    margin-top: 2rem;

}
.contact-wrapper li{
    display: flex;
    gap: .5rem;
}
.contact-wrapper li:not(:last-child),.quick-link-wrapper li:not(:last-child){
    margin-bottom: .5rem;
}
.contact-wrapper li i{
    color:#115DE1;
    font-size: .9rem;
    flex: 0 0 1rem;
}
.contact-wrapper li a,.quick-link-wrapper li a{
    color: #dddddd;
    text-decoration: none;
    font-size: .9rem;
    transition: all .25s;
}
.contact-wrapper li a:hover,.quick-link-wrapper li a:hover{
    color: #115DE1;

}
.quick-link-wrapper li a{
    padding-left: 1.2rem;
    position: relative;
}
.footer-title{
    font-size: 1.1rem;
}
.quick-link-wrapper li a:before{
    content: "\F231";
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: 400 !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    font-size: .6rem;
    position: absolute;
    top: 4px;
    left: 0;
}
/* } google-review */
.google-review{
    position: fixed;
    bottom: 205px;
    background: #133874;
    right: 14px;
    color: #ffffff;
    display: none;
    border-radius: .5rem;
    z-index: 999;
 

}
.google-review::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 7px; /* thickness of the border */
    border-radius: 0.5rem;
    background: linear-gradient(to right, #4285F4, #EA4335, #FBBC05, #34A853);
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
  }
.google-review .wrapper{
    position: relative;
    padding: 1.3rem 2rem;
    text-align: center;
    
    
}
.google-review .wrapper img{
height: 60PX;
}
.google-review .wrapper h4{
    font-size: 1.1rem;
    margin-top: .5rem;
    
}
.google-review .wrapper i{
    color: #eab306;
}
.review-close-btn{
    display: inline-block;
    height: 25px;
    width: 25px;
    position: absolute;
    top: -12px;
    left: -12px;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.google-review .wrapper .review-close-btn i{
    color:#fff
}
/* breard-crumb-css start */
.breadcrumb-section{
    height: 250px;
    background-position: bottom;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-bottom: 2rem;
}
.breadcrumb-section:before{
    content: "";
    background-color: #151515;
    opacity: 0.65;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.breadcrumb-section .container{
    
}
.breadcrumb-section .page-name{
    
    font-size: 2rem;
    color: #fff;
    position: relative;
    z-index: 22;
    text-align: center;
}
.breadcrumb-list{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 22;
    position: relative;
}

.breadcrumb-link{
    color: #acacac;
    padding: .5rem;
    text-decoration: none;
    font-family: .9rem;
}
.breadcrumb-link.active{
    color: #eab306;
}
.breadcrumb-item+.breadcrumb-item::before {
    color: #acacac;
}



.blog-spot-wrapper{
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(127px, 1fr));
    gap: 1rem;
}
.blog-spot-wrapper li{
    position: relative;
}
.blog-spot-wrapper img{
    height: 100px;
    width: 100%;
    object-fit: cover;
}
.blog-title{
    font-size: .7rem;
    color: #fff;
    text-decoration: none;
  
    display: block;
}
.bottom-footer{
    padding: 1rem 0;
}
.bottom-footer .social-link , .bottom-footer .link-wrapper{
    display: flex;
    align-items: center;
    gap: .75rem;
    font-size: .85rem;

}
.bottom-footer .social-link a{
    color: #000;
    transition: all .25s;
}
.bottom-footer .social-link a:hover{
    color: #115DE1;
}
.bottom-footer .link-wrapper{
    gap: 0;
    justify-content: flex-end;
}
.bottom-footer .link-wrapper li a{
    padding: 0 .5rem;
    color: #000;
    text-decoration: none;
    transition: all .25s;
}
.bottom-footer .link-wrapper li a:hover{
    color: #115DE1;
}
.bottom-footer .link-wrapper li:not(:last-child) a{
    border-right: 1px solid #dedede;
}
.whats-app{
    display: inline-block;
    height: 60px;
    width: 60px;
    background-color: #25d366;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 2rem;
    right: 1rem;
}
.whats-app i{
    color: #fff;
    font-size: 1.5rem;
}
@media(max-width:991.99px){
    .footer-title{
        margin-top: 1rem;
    }
    .quick-link-wrapper{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: .5rem;
    }
}
@media(max-width:680px){
    
    .quick-link-wrapper{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: .5rem;
    }
    .link-wrapper{
        display: none !important;
    }
    .social-link{
        flex-wrap: wrap;
    }
    .social-link li:last-child{
        flex: 0 0 100%;
    }
}


/* common card design */
.card-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
}
.tour-card{
    box-shadow: 3px 5px 35px rgba(86, 68, 169, 0.1);
    overflow: hidden;
    position: relative;
}
.tour-card .badge{
    padding: .5rem ;
    background-color: #ff7e00;
    color: #fff;
    border-radius: 5px;
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.tour-card img {
    transition: transform 0.4s ease-in-out;
   
  }
.tour-card .card-body{
    position: relative;
    padding: 2rem 1.5rem 1.5rem;
}
.tour-card .card-lavel{
    
    font-weight: 600;
    text-transform: capitalize;
    color: #ffffff;
    background: #34bdb2;
  
    position: absolute;
    padding: 4px 32px;
    top: -43px;
    left: 0px;
    transform: translateY(50%);
    clip-path: polygon(0% 0, 90% 0%, 100% 100%, 0 100%);
    font-size: 0.9rem;
    line-height: 1.4;
    border-radius: 0 2px 2px 0;
}
.tour-card h5{
    font-weight: 500;
    min-height: 45px;
}
.p-card-info strike{
    color: #000;
    font-size: .9rem;
    font-weight: normal;
    margin: 0;
}
.p-card-info h6{
    color: #34bdb2;
    font-weight: 700;
    line-height: 1;
    font-size: 1.3rem;
}
.tour-card:hover img{
    transform: scale(1.05);
}
@media(max-width:1024px){
    .card-wrapper{
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
    }
}
@media(max-width:680px){
    .card-wrapper{
        grid-template-columns: repeat(1,1fr);
    }
}
/* modal css */
.modal-content{
    border-top: 7px solid #03787a;
    
}
.modal-header{
   border-bottom: none;
}
/* date-picker */
.datepicker{
    padding: 10px;
}
.datepicker th,.datepicker td{
    padding: 5px;
    text-align: center;
}
.datepicker table tr td.today{
    background-color: #03787a;
    background-image: none;
    color: #fff;
}