.page-area .section-title-container{
    text-align: center;
    display: block;
}
.page-area .section-title-container .section-title-large{
    font-size: 2rem;
}
/* contactus page css */
/* .contact-section {
    background: linear-gradient(45deg, #f2f9fb, #b6c8de);
} */
.contact-left-section{
    margin: 0;
    padding: 0;
    list-style: none;

}

.contact-left-section li:not(:last-child){
    margin-bottom: 1.5rem;
}
.contact-left-section h5{
    font-weight: 600;
    color: #505050;
}
.contact-left-section p{
    margin-bottom: 0;
}
.icon-box{
    --size:80px;
    height: var(--size);
    width: var(--size);
    border-radius: 50%;
    /* background:  linear-gradient(90deg, #f2f9fc, #e1eef3); */
    background: linear-gradient(124deg, #ceeafceb, #dffaf8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-box i{
    font-size: 2rem;
}
.responsive-map{
    overflow: hidden;
    padding-bottom:400px;
    position:relative;
    height:0;
    }
    .responsive-map iframe{
    left:0;
    top:0;
    height:400px;
    width:100%;
    position:absolute;
    } 
    .office-add-section{
        background-color: rgb(191 217 234);
    }
    .office-address{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        height: 100%;
    }
    .office-address h5{
        margin-bottom: 1rem;
        color: #03787a;
        font-weight: 600;
    }
    .office-address .contact-wrapper{
        margin-top: 0;
    }
    .office-address .contact-wrapper li a, .office-address .quick-link-wrapper li a {
        color: #000;
        font-size: 1rem;
       
    }
    .office-address .contact-wrapper li i {
        color: #34bdb2;
        font-size: 1rem;
        flex: 0 0 1.2rem;
    }